Archive/Jose/Orleans-Geo-Prototype/Dependencies/Windows-Azure-SDK/v2.2/schemas/RoleConfigurationSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:all>
        <xs:element name="system.webServer" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="fastCgi" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0"  maxOccurs="unbounded" name="application">
                      <xs:complexType>
                        <xs:attribute name="fullPath" type="xs:string" use="required" />
                        <xs:attribute name="arguments" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>